.row-data{
  font-family: var(--font-family);
  align-self: flex-end;
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem var(--common-left-right-padding);
}

.row-data:nth-child(odd){
  background-color: var(--bit-dark-color);
}
.row-data:nth-child(even){
  background-color: var(--dark-color);
}

.current-price{
  padding-right: 1rem;
}